<a href="https://colab.research.google.com/github/rrupam/Pandas/blob/master/Pandas_Datacamp_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Revision

This notebook contains basic and advanced material concerning dataframe usage in Python. The material is due to the Datacamp course: Manipulating DataFrames with pandas

In [1]:
#To login to your googledrive account for file management
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
! ls

drive  sample_data

In [2]:
#CD into the directory you want to be in 
% cd drive/My Drive/Colab Notebooks/Pandas

/content/drive/My Drive/Colab Notebooks/Pandas

In [3]:
import pandas as pd
df = pd.read_excel('Dump_Sensor_Rishika_Dump.xlsx')
df.head()

        _source/recordId  ...  _source/data/extensions/speed/measurementUnitCode
0  hK0ifOPpo_9nrT8Y289DQ  ...                                                NaN
1  Z1nJpvWNpa36hFl7fnQC1  ...                                                NaN
2  D_tV7pr0LT2NdG_4-iy3H  ...                                                NaN
3  oL-fkjD3jGqp0Q5xOV-Pe  ...                                                NaN
4  tXwFBks3BdaJS0bvBUqL4  ...                                                KMH

[5 rows x 20 columns]

# Extracting and Transforming Data

**Indexing, Slicing**

In [4]:
df_new = df.loc[1:10,'_source/date':'_source/data/eventTime']
df_new

     _source/date  ... _source/data/eventTime
1   1569276027912  ...   2019-09-23T10:25:00Z
2   1569276027914  ...   2019-09-23T15:28:00Z
3   1569276027916  ...   2019-09-23T15:36:00Z
4   1569276027918  ...   2019-09-23T12:39:00Z
5   1569276027911  ...   2019-09-23T11:44:00Z
6   1569276027911  ...   2019-09-23T12:36:00Z
7   1569276027913  ...   2019-09-23T11:27:00Z
8   1569276027914  ...   2019-09-23T10:38:00Z
9   1569276027916  ...   2019-09-23T16:34:00Z
10  1569276027917  ...   2019-09-23T12:15:00Z

[10 rows x 4 columns]

In [5]:
df.iloc[1:2,1:4]

    _source/date  ... _source/data/eventType
1  1569276027912  ...            ObjectEvent

[1 rows x 3 columns]

In [6]:
df_new = df['_source/date']  #creates a series
df_new.head()

0    1569276027911
1    1569276027912
2    1569276027914
3    1569276027916
4    1569276027918
Name: _source/date, dtype: int64

In [7]:
df_new = df[['_source/date']]   #creates a dataframe
df_new.head()

    _source/date
0  1569276027911
1  1569276027912
2  1569276027914
3  1569276027916
4  1569276027918

**Filtering with a Boolean Series**

In [8]:
condition = df['_source/date']>1569276027918
df_new = df[condition]
df_new.head()

          _source/recordId  ...  _source/data/extensions/speed/measurementUnitCode
13   RFalb9YncmipPCzBvcdCN  ...                                                KMH
982  s3Bq4rIBjyMSowjQo-foa  ...                                                NaN
983  wfu2rBrzA0zcMaZl8UCvE  ...                                                NaN
984  3qscf5aiE5prZqQWKoyy3  ...                                                NaN
985  o9VP5kt87rfs-jY-uTGt2  ...                                                NaN

[5 rows x 20 columns]

In [12]:
#Filtering on a certain condition and altering a certain column based on the filter
import numpy as np
condition = df['_source/date']<1569276027918
df.loc[condition,'_source/data/eventType'] = np.nan  #Convert eventTYpe from 'ObjectEvent' to 'Nan' for those rows which are 'True' under condition
df.head()

        _source/recordId  ...  _source/data/extensions/speed/measurementUnitCode
0  hK0ifOPpo_9nrT8Y289DQ  ...                                                NaN
1  Z1nJpvWNpa36hFl7fnQC1  ...                                                NaN
2  D_tV7pr0LT2NdG_4-iy3H  ...                                                NaN
3  oL-fkjD3jGqp0Q5xOV-Pe  ...                                                NaN
4  tXwFBks3BdaJS0bvBUqL4  ...                                                KMH

[5 rows x 20 columns]

**DROPNA**

In [18]:
print(df.dropna(how = 'any').shape) #Drops the rows which have any Nan values

(0, 20)

In [19]:
print(df.dropna(how = 'all').shape)  #Drops the rows which have all Nan values

(16980, 20)

In [17]:
print(df.dropna(thresh=5000, axis ='columns').info())  #thresh = x drops those columns which don't have at least x non-na values. Observe that temp, light etc are dropped because they had fewer than 5000 non-nnull values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16980 entries, 0 to 16979
Data columns (total 12 columns):
_source/recordId                                    16980 non-null object
_source/date                                        16980 non-null int64
_source/assetId                                     16980 non-null object
_source/data/eventType                              8308 non-null object
_source/data/eventTime                              16980 non-null object
_source/data/eventTimeZoneOffset                    16980 non-null object
_source/data/action                                 16980 non-null object
_source/data/bizTransactionList/0/bizTransaction    16980 non-null object
_source/data/eventID                                16980 non-null object
_source/data/recordTime                             16980 non-null object
_source/extensions/eventTime                        16980 non-null int64
_source/extensions/height                           16980 non-null int64
dtypes: int64(3), object(9)
memory usage: 1.6+ MB
None

# Transforming DataFrames

Heirarchy of goodness of methods:
1. Inherent dataframes methods
2. Numpy Ufuncs or universal functions

When performance is paramount, you should avoid using .apply() and .map() because those constructs perform Python for-loops over the data stored in a pandas Series or DataFrame. By using vectorized functions instead, you can loop over the data at the same speed as compiled code (C, Fortran, etc.)! NumPy, SciPy and pandas come with a variety of vectorized functions (called Universal Functions or UFuncs in NumPy).

**Apply function**

In [20]:
def add_one(x):
  return x+1

cols = ['_source/date']
df_new = df[cols]

df_new = df_new.apply(add_one)
df_new.head()

    _source/date
0  1569276027912
1  1569276027913
2  1569276027915
3  1569276027917
4  1569276027919

**Map function**

In [21]:
item_id = {'urn:tilkal:platform:id:giai:tilliance.SSR00001':'geo', 'urn:tilkal:platform:id:giai:tilliance.SSR00002':'temp','urn:tilkal:platform:id:giai:tilliance.SSR00003':'light','urn:tilkal:platform:id:giai:tilliance.SSR00004':'speed'}

df['event_type'] = df['_source/assetId'].map(item_id)
df.head()

        _source/recordId  ...  event_type
0  hK0ifOPpo_9nrT8Y289DQ  ...         geo
1  Z1nJpvWNpa36hFl7fnQC1  ...        temp
2  D_tV7pr0LT2NdG_4-iy3H  ...        temp
3  oL-fkjD3jGqp0Q5xOV-Pe  ...       light
4  tXwFBks3BdaJS0bvBUqL4  ...       speed

[5 rows x 21 columns]